
<div *ngIf="medicinebranch">
    <h2><span jhiTranslate="accmApp.medicinebranch.detail.title">Medicinebranch</span> - {{medicinebranch.name}} ({{medicinebranch.id}})</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="accmApp.medicinebranch.name">Name</span></dt>
        <dd>
            <span>{{medicinebranch.name}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.medicinebranch.company">Company</span></dt>
        <dd>
            <span *ngFor="let company of medicinebranch.companies; let last = last">
                <a [routerLink]="['/company', company?.id ]">{{company.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="accmApp.medicinebranch.consumers">Consumers</span></dt>
        <dd>
            <span *ngFor="let consumers of medicinebranch.consumers; let last = last">
                <a [routerLink]="['/consumer', consumers?.id ]">{{consumers.email}} </a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'medicinebranch/'+ medicinebranch.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
