
<div *ngIf="address">
    <h2><span jhiTranslate="accmApp.address.detail.title">Address</span> - {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="accmApp.address.provinceName">Province Name</span></dt>
        <dd>
            <span>{{address.provinceName}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.address.cityName">City Name</span></dt>
        <dd>
            <span>{{address.cityName}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.address.streetName">Street Name</span></dt>
        <dd>
            <span>{{address.streetName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
