<div>
    <h2>
        <span jhiTranslate="accmApp.child.home.title">Children</span>
        <button class="btn btn-primary float-right jh-create-entity create-child" [routerLink]="['/', { outlets: { popup: ['child-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="accmApp.child.home.createLabel">
            Create new Child
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'accmApp.child.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="children">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="accmApp.child.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="birthdate"><span jhiTranslate="accmApp.child.birthdate">Birthdate</span> <span class="fa fa-sort"></span></th>
            <!--<th><span jhiTranslate="accmApp.child.consumers">Consumers</span> <span></span></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let child of children ;trackBy: trackId">
                <td><a [routerLink]="['../child', child.id ]">{{child.id}}</a></td>
                <td>{{child.name}}</td>
                <td>{{child.birthdate | date:'mediumDate'}}</td>
                <!--<td>-->
                    <!--<span *ngFor="let consumers of child.consumers; let last = last">-->
                        <!--<a [routerLink]="['/consumer', consumers?.id ]">{{consumers.email}} </a>{{last ? '' : ', '}}-->
                    <!--</span>-->
                <!--</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../child', child.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'child/'+ child.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'child/'+ child.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="children && children.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
