
<div *ngIf="child">
    <h2><span jhiTranslate="accmApp.child.detail.title">Child</span> - {{child.name}} ({{child.id}})</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="accmApp.child.name">Name</span></dt>
        <dd>
            <span>{{child.name}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.child.birthdate">Birthdate</span></dt>
        <dd>
            <span>{{child.birthdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.child.consumers">Consumers</span></dt>
        <dd>
            <span *ngFor="let consumers of child.consumers; let last = last">
                <a [routerLink]="['/consumer', consumers?.id ]">{{consumers.firstName}} {{consumers.lastName}} ({{consumers.email}}) </a>{{last ? '' : ', '}}
                <br />
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'child/'+ child.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
