
<div *ngIf="therapy">
    <h2><span jhiTranslate="accmApp.therapy.detail.title">Therapy</span> - {{therapy.name}} ({{therapy.id}})</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="accmApp.therapy.name">Name</span></dt>
        <dd>
            <span>{{therapy.name}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.therapy.companies">Companies</span></dt>
        <dd>
            <span *ngFor="let companies of therapy.companies; let last = last">
                <a [routerLink]="['/company', companies?.id ]">{{companies.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="accmApp.therapy.consumers">Consumers</span></dt>
        <dd>
            <span *ngFor="let consumers of therapy.consumers; let last = last">
                <a [routerLink]="['/consumer', consumers?.id ]">{{consumers.email}} </a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'therapy/'+ therapy.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
