
<div *ngIf="division">
    <h2><span jhiTranslate="accmApp.division.detail.title">Division</span> - {{division.name}} ({{division.id}})</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="accmApp.division.name">Name</span></dt>
        <dd>
            <span>{{division.name}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.division.company">Company</span></dt>
        <dd>
            <div *ngIf="division.companyId">
                <a [routerLink]="['/company', division.companyId]">{{division.companyName}}</a>
            </div>
        </dd>
        <!--<dt><span jhiTranslate="accmApp.division.datasources">Datasources</span></dt>-->
        <!--<dd>-->
            <!--<span *ngFor="let datasources of division.datasources; let last = last">-->
                <!--<a [routerLink]="['/datasource', datasources?.id ]">{{datasources.title}}</a>{{last ? '' : ', '}}-->
            <!--</span>-->
        <!--</dd>-->
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'division/'+ division.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
