
<div *ngIf="company">
    <h2><span jhiTranslate="accmApp.company.detail.title">Company</span> - {{company.name}} ({{company.id}})</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="accmApp.company.name">Name</span></dt>
        <dd>
            <span>{{company.name}}</span>
        </dd>

        <!--<dt><span jhiTranslate="accmApp.company.products">Products</span></dt>
        <dd>
            <span *ngFor="let products of company.products; let last = last">
                <a [routerLink]="['/product', products?.id ]">{{products.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>-->
        <dt><span jhiTranslate="accmApp.company.therapies">Therapies</span></dt>
        <dd>
            <span *ngFor="let therapies of company.therapies; let last = last">
                <a [routerLink]="['/therapy', therapies?.id ]">{{therapies.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="accmApp.company.diseases">Diseases</span></dt>
        <dd>
            <span *ngFor="let diseases of company.diseases; let last = last">
                <a [routerLink]="['/disease', diseases?.id ]">{{diseases.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="accmApp.company.branches">Branches</span></dt>
        <dd>
            <span *ngFor="let branches of company.branches; let last = last">
                <a [routerLink]="['/medicinebranch', branches?.id ]">{{branches.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>

    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'company/'+ company.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
