
<div *ngIf="consumer">
    <h2><span jhiTranslate="accmApp.consumer.detail.title">Consumer</span>  - {{consumer.firstName}} {{consumer.lastName}} ({{consumer.id}})</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="accmApp.consumer.firstName">First Name</span></dt>
        <dd>
            <span>{{consumer.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.lastName">Last Name</span></dt>
        <dd>
            <span>{{consumer.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.gender">Gender</span></dt>
        <dd>
            <span jhiTranslate="{{'accmApp.Gender.' + consumer.gender}}">{{consumer.gender}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.email">Email</span></dt>
        <dd>
            <span>{{consumer.email}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.accepted">Accepted</span></dt>
        <dd>
            <span jhiTranslate="{{'boolean.' + consumer.accepted}}">{{consumer.accepted}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.active">Active</span></dt>
        <dd>
            <span jhiTranslate="{{'boolean.' + consumer.active}}">{{consumer.active}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{consumer.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.userType">User Type</span></dt>
        <dd>
            <span jhiTranslate="{{'accmApp.UserType.' + consumer.userType}}">{{consumer.userType}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.userComment">User Comment</span></dt>
        <dd>
            <span>{{consumer.userComment}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.address">Address</span></dt>
        <dd>
            <div *ngIf="consumer.address">
                <a [routerLink]="['/address', consumer.address?.id]">
                    {{consumer.address?.provinceName}} {{consumer.address?.cityName}} {{consumer.address?.streetName}} ({{consumer.address?.id}})
                </a>
            </div>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.products">Products</span></dt>
        <dd>
            <span *ngFor="let products of consumer.products; let last = last">
                <a [routerLink]="['/product', products?.id ]">{{products.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.therapies">Therapies</span></dt>
        <dd>
            <span *ngFor="let therapies of consumer.therapies; let last = last">
                <a [routerLink]="['/therapy', therapies?.id ]">{{therapies.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.diseases">Diseases</span></dt>
        <dd>
            <span *ngFor="let diseases of consumer.diseases; let last = last">
                <a [routerLink]="['/disease', diseases?.id ]">{{diseases.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.branches">Branches</span></dt>
        <dd>
            <span *ngFor="let branches of consumer.branches; let last = last">
                <a [routerLink]="['/medicinebranch', branches?.id ]">{{branches.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.children">Children</span></dt>
        <dd>
            <span *ngFor="let children of consumer.children; let last = last">
                <a [routerLink]="['/child', children?.id ]">{{children.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="accmApp.consumer.datasources">Datasources</span></dt>
        <dd>
            <span *ngFor="let datasources of consumer.datasources; let last = last">
                <a [routerLink]="['/datasource', datasources?.id ]">{{datasources.title}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'consumer/'+ consumer.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
