<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myConsumerLabel" jhiTranslate="accmApp.consumer.home.createOrEditLabel">Create or edit a Consumer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!consumer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="consumer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.consumer.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="consumer.firstName" minlength="2" maxlength="100" />
            <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.consumer.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="consumer.lastName" minlength="2" maxlength="100" />
            <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.consumer.gender" for="field_gender">Gender</label>
            <select class="form-control" name="gender" [(ngModel)]="consumer.gender" id="field_gender" >
                <option value="MALE">{{'accmApp.Gender.MALE' | translate}}</option>
                <option value="FEMALE">{{'accmApp.Gender.FEMALE' | translate}}</option>
                <option value="OTHER">{{'accmApp.Gender.OTHER' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.consumer.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="consumer.email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" />
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.email?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Email' }">
                    This field should follow pattern for "Email".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.consumer.accepted" for="field_accepted">Accepted</label>
            <input type="checkbox" class="form-control" name="accepted" id="field_accepted"
                [(ngModel)]="consumer.accepted"  />
            <div [hidden]="!(editForm.controls.accepted?.dirty && editForm.controls.accepted?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accepted?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.consumer.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="consumer.active"  />
            <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.active?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.consumer.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                [(ngModel)]="consumer.phoneNumber" minlength="9" maxlength="18" />
            <div [hidden]="!(editForm.controls.phoneNumber?.dirty && editForm.controls.phoneNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.phoneNumber?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 9 }">
                   This field is required to be at least 9 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.phoneNumber?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 18 }">
                   This field cannot be longer than 18 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.consumer.userType" for="field_userType">User Type</label>
            <select class="form-control" name="userType" [(ngModel)]="consumer.userType" id="field_userType" >
                <option value="CONSUMER">{{'accmApp.UserType.CONSUMER' | translate}}</option>
                <option value="SPECIALIST">{{'accmApp.UserType.SPECIALIST' | translate}}</option>
                <option value="OTHER">{{'accmApp.UserType.OTHER' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.consumer.userComment" for="field_userComment">User Comment</label>
            <input type="text" class="form-control" name="userComment" id="field_userComment"
                [(ngModel)]="consumer.userComment"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.consumer.address" for="field_address">Address</label>
            <div>
                <button type="button" class="btn float-right jh-create-entity" [routerLink]="['/', { outlets: { popup: ['address-new-from-consumer'] } }]">
                    <span class="fa fa-plus"></span>
                    <span class="hidden-sm-down"  jhiTranslate="accmApp.address.home.createLabel">
            Create new Address
            </span>
                </button>
            </div>
            <select class="form-control" id="field_address" name="address" [(ngModel)]="consumer.address" >
                <option [ngValue]="null"></option>
                <option [ngValue]="addressOption.id === consumer.address?.id ? consumer.address : addressOption" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.provinceName}} {{addressOption.cityName}} {{addressOption.streetName}} ({{addressOption.id}})</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="accmApp.consumer.products" for="field_products">Products</label>
            <select class="form-control" id="field_products" multiple name="products" [(ngModel)]="consumer.products">
                <option [ngValue]="getSelected(consumer.products, productOption)" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="accmApp.consumer.therapies" for="field_therapies">Therapies</label>
            <select class="form-control" id="field_therapies" multiple name="therapies" [(ngModel)]="consumer.therapies">
                <option [ngValue]="getSelected(consumer.therapies, therapyOption)" *ngFor="let therapyOption of therapies; trackBy: trackTherapyById">{{therapyOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="accmApp.consumer.diseases" for="field_diseases">Diseases</label>
            <select class="form-control" id="field_diseases" multiple name="diseases" [(ngModel)]="consumer.diseases">
                <option [ngValue]="getSelected(consumer.diseases, diseaseOption)" *ngFor="let diseaseOption of diseases; trackBy: trackDiseaseById">{{diseaseOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="accmApp.consumer.branches" for="field_branches">Branches</label>
            <select class="form-control" id="field_branches" multiple name="branches" [(ngModel)]="consumer.branches">
                <option [ngValue]="getSelected(consumer.branches, medicinebranchOption)" *ngFor="let medicinebranchOption of medicinebranches; trackBy: trackMedicinebranchById">{{medicinebranchOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="accmApp.consumer.children" for="field_children">children</label>
            <div>
                <button type="button" class="btn float-right jh-create-entity" [routerLink]="['/', { outlets: { popup: ['child-new-from-consumer'] } }]">
                    <span class="fa fa-plus"></span>
                    <span class="hidden-sm-down" jhiTranslate="accmApp.child.home.createLabel">
                        Create new Child
                    </span>
                </button>
            </div>
            <select class="form-control" id="field_children" multiple name="children" [(ngModel)]="consumer.children">
                    <option [ngValue]="getSelected(consumer.children, childOption)" *ngFor="let childOption of children; trackBy: trackChildById">
                        {{childOption.name}}     ({{testChild(childOption) ? '' : 'niedostępne' }} liczba zdefioniwanych rodziców  {{childOption.parentCount}})
                    </option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="accmApp.consumer.datasources" for="field_datasources">Datasources</label>
            <div>
                <button type="button" class="btn float-right jh-create-entity" [routerLink]="['/', { outlets: { popup: ['datasource-new-from-consumer'] } }]">
                    <span class="fa fa-plus"></span>
                    <span class="hidden-sm-down" jhiTranslate="accmApp.datasource.home.createLabel">
                        Create new Datasource
                    </span>
                </button>
            </div>
            <select class="form-control" id="field_datasources" multiple name="datasources" [(ngModel)]="consumer.datasources" required>
                <option [ngValue]="getSelected(consumer.datasources, datasourceOption)" *ngFor="let datasourceOption of datasources; trackBy: trackDatasourceById">{{datasourceOption.title}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.datasources?.dirty && editForm.controls.datasources?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.datasources?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
