<div>
    <h2>
        <span jhiTranslate="accmApp.consumer.home.title">Consumers</span>
        <button class="btn btn-primary float-right jh-create-entity create-consumer" [routerLink]="['/', { outlets: { popup: ['consumer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="accmApp.consumer.home.createLabel">
            Create new Consumer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'accmApp.consumer.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="consumers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstName"><span jhiTranslate="accmApp.consumer.firstName">First Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastName"><span jhiTranslate="accmApp.consumer.lastName">Last Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gender"><span jhiTranslate="accmApp.consumer.gender">Gender</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="accmApp.consumer.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="accepted"><span jhiTranslate="accmApp.consumer.accepted">Accepted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="active"><span jhiTranslate="accmApp.consumer.active">Active</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="accmApp.consumer.phoneNumber">Phone Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userType"><span jhiTranslate="accmApp.consumer.userType">User Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userComment"><span jhiTranslate="accmApp.consumer.userComment">User Comment</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let consumer of consumers ;trackBy: trackId">
                <td><a [routerLink]="['../consumer', consumer.id ]">{{consumer.id}}</a></td>
                <td><a [routerLink]="['../consumer', consumer.id ]">{{consumer.firstName}}</a></td>
                <td><a [routerLink]="['../consumer', consumer.id ]">{{consumer.lastName}}</a></td>
                <td jhiTranslate="{{'accmApp.Gender.' + consumer.gender}}">{{consumer.gender}}</td>
                <td>{{consumer.email}}</td>
                <td jhiTranslate="{{'boolean.' + consumer.accepted}}">{{consumer.accepted}}</td>
                <td jhiTranslate="{{'boolean.' + consumer.active}}">{{consumer.active}}</td>
                <td>{{consumer.phoneNumber}}</td>
                <td jhiTranslate="{{'accmApp.UserType.' + consumer.userType}}">{{consumer.userType}}</td>
                <td>{{consumer.userComment}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../consumer', consumer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'consumer/'+ consumer.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'consumer/'+ consumer.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="consumers && consumers.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
