<div>
    <h2>
        <span jhiTranslate="accmApp.datasource.home.title">Datasources</span>
        <button class="btn btn-primary float-right jh-create-entity create-datasource" [routerLink]="['/', { outlets: { popup: ['datasource-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="accmApp.datasource.home.createLabel">
            Create new Datasource
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'accmApp.datasource.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="datasources">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="accmApp.datasource.title">Title</span></th>
            <th><span jhiTranslate="accmApp.datasource.date">Date</span></th>
            <th><span jhiTranslate="accmApp.datasource.turn">Turn</span></th>
            <th><span jhiTranslate="accmApp.datasource.personName">Person Name</span></th>
            <th><span jhiTranslate="accmApp.datasource.actiontype">Actiontype</span></th>
            <th><span jhiTranslate="accmApp.datasource.division">Division</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let datasource of datasources ;trackBy: trackId">
                <td><a [routerLink]="['../datasource', datasource.id ]">{{datasource.id}}</a></td>
                <td>{{datasource.title}}</td>
                <td>{{datasource.date | date:'medium'}}</td>
                <td>{{datasource.turn}}</td>
                <td>{{datasource.personName}}</td>
                <td>
                    <div *ngIf="datasource.actiontypeId">
                        <a [routerLink]="['../actiontype', datasource.actiontypeId  ]" >{{datasource.actiontypeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="datasource.divisionId">
                        <a [routerLink]="['../division', datasource.divisionId  ]" >{{datasource.divisionName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../datasource', datasource.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'datasource/'+ datasource.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'datasource/'+ datasource.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
