<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDatasourceLabel" jhiTranslate="accmApp.datasource.home.createOrEditLabel">Create or edit a Datasource</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!datasource.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="datasource.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.datasource.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="datasource.title" required />
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.datasource.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="datasource.date"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.date?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.datasource.turn" for="field_turn">Turn</label>
            <input type="number" class="form-control" name="turn" id="field_turn"
                [(ngModel)]="datasource.turn" max="10" />
            <div [hidden]="!(editForm.controls.turn?.dirty && editForm.controls.turn?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.turn?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 10 }">
                    This field cannot be more than 10.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.turn?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.datasource.personName" for="field_personName">Person Name</label>
            <input type="text" class="form-control" name="personName" id="field_personName"
                [(ngModel)]="datasource.personName" maxlength="50" />
            <div [hidden]="!(editForm.controls.personName?.dirty && editForm.controls.personName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.personName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.datasource.actiontype" for="field_actiontype">Actiontype</label>
            <!--<div>-->
                <!--<button type="button" class="btn btn-default float-right" [routerLink]="['/', { outlets: { popup: ['actiontype-new-from-datasource'] } }]">-->
                <!--<span class="hidden-sm-down"  jhiTranslate="accmApp.actiontype.home.createLabel">Create new Actiontype</span>-->
                <!--</button>-->
            <!--</div>-->
            <select class="form-control" id="field_actiontype" name="actiontype" [(ngModel)]="datasource.actiontypeId"  required>
                <option *ngIf="!editForm.value.actiontype" [ngValue]="null" selected></option>
                <option [ngValue]="actiontypeOption.id" *ngFor="let actiontypeOption of actiontypes; trackBy: trackActiontypeById">{{actiontypeOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.actiontype?.dirty && editForm.controls.actiontype?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.actiontype?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="accmApp.datasource.division" for="field_division">Division</label>
            <select class="form-control" id="field_division" name="division" [(ngModel)]="datasource.divisionId"  required>
                <option *ngIf="!editForm.value.division" [ngValue]="null" selected></option>
                <option [ngValue]="divisionOption.id" *ngFor="let divisionOption of divisions; trackBy: trackDivisionById">{{divisionOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.division?.dirty && editForm.controls.division?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.division?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
