
<div *ngIf="datasource">
    <h2><span jhiTranslate="accmApp.datasource.detail.title">Datasource</span> - {{datasource.title}} ({{datasource.id}})</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="accmApp.datasource.title">Title</span></dt>
        <dd>
            <span>{{datasource.title}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.datasource.date">Date</span></dt>
        <dd>
            <span>{{datasource.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.datasource.turn">Turn</span></dt>
        <dd>
            <span>{{datasource.turn}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.datasource.personName">Person Name</span></dt>
        <dd>
            <span>{{datasource.personName}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.datasource.actiontype">Actiontype</span></dt>
        <dd>
            <div *ngIf="datasource.actiontypeId">
                <a [routerLink]="['/actiontype', datasource.actiontypeId]">{{datasource.actiontypeName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="accmApp.datasource.division">Division</span></dt>
        <dd>
            <div *ngIf="datasource.divisionId">
                <a [routerLink]="['/division', datasource.divisionId]">{{datasource.divisionName}}</a>
            </div>
        </dd>
        <!--<dt><span jhiTranslate="accmApp.datasource.consumers">Consumers</span></dt>
        <dd>
            <span *ngFor="let consumers of datasource.consumers; let last = last">
                <a [routerLink]="['/consumer', consumers?.id ]">{{consumers.email}} </a>{{last ? '' : ', '}}
            </span>
        </dd>-->
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'datasource/'+ datasource.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
