
<div *ngIf="disease">
    <h2><span jhiTranslate="accmApp.disease.detail.title">Disease</span> - {{disease.name}} ({{disease.id}})</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="accmApp.disease.name">Name</span></dt>
        <dd>
            <span>{{disease.name}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.disease.companies">Companies</span></dt>
        <dd>
            <span *ngFor="let companies of disease.companies; let last = last">
                <a [routerLink]="['/company', companies?.id ]">{{companies.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="accmApp.disease.consumers">consumers</span></dt>
        <dd>
            <span *ngFor="let consumers of disease.consumers; let last = last">
                <a [routerLink]="['/consumer', consumers?.id ]">{{consumers.email}} </a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'disease/'+ disease.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
