
<div *ngIf="product">
    <h2><span jhiTranslate="accmApp.product.detail.title">Product</span> - {{product.name}} ({{product.id}})</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="accmApp.product.name">Name</span></dt>
        <dd>
            <span>{{product.name}}</span>
        </dd>
        <dt><span jhiTranslate="accmApp.product.company">Company</span></dt>
        <dd>
            <div *ngIf="product.company">
                <a [routerLink]="['/company', product.company?.id]">{{product.company?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="accmApp.product.consumers">Consumers</span></dt>
        <dd>
            <span *ngFor="let consumers of product.consumers; let last = last">
                <a [routerLink]="['/consumer', consumers?.id ]">{{consumers.email}} </a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
